:root {
  --background: #bbfafa;
  --h-f-color: #5c63ec;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background)
}

/* Header Styling */
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background);
  color: var(--h-f-color)
}

h1 {
  display: flex;
  border: 15px solid var(--h-f-color);
  font-size: 48px;
  background-color: var(--h-f-color);
  color: var(--background);
  width: 50%;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

nav ul li {
  display: inline-flex;
  margin-right: 20px;
  font-size: 25px;
}

a {
  color: var(--h-f-color);
  text-decoration: underline;
}

/* Main Styling */
main {
  display: flex;
  background-color: #bbfafa;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: end;
  margin: 20px;
}

h2 {
  text-align: end;
  justify-content: end;
  font-size: 30px;
  padding: 20px;
}

h3 {
  display: inline-flex;
  position: absolute;
  bottom: 5%;
  left: 2%;
  color: darkcyan;
  font-size: 20px;
  background-color: cyan;
  padding: 5px;
  width: auto;
}

p {
  display: inline-flex;
  text-align: center;
  padding: 20px 120px 40px 20px;
  align-items: center;
}

/* Footer Styling */
footer {
  text-align: center;
}

/* Hero Styling */
.hero {
  height: 75px;
  width: 100%;
  background-image: url("../images/hero-background-img.jpg");
  background-size: cover;
  background-position: center;
}

.hero-text {
  display: flex;
  font-size: 30px;
  justify-content: flex-end;
  color: var(--background);
  margin-right: 50px;
}

/* Flex Styling Block */
/* About Me Block */
.about-me-text {
  width: 75%;
  padding: 10px;
  margin-left: 10px;
  font-size: larger;
  display: inline-block;
  text-align: start;
  color: #025555; 
}

/* Work Projects Styling */
.work {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 15px;
  justify-content: start;
  padding: 15px;
}

.work-examples {
  display: flex;
  flex-flow: row wrap;
  padding: 0px;
  margin: 10px;
  width: 75%;
}

.card {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 0px;
  border: 5px solid cyan;
  margin: 10px;
  width: 30vw;
  height: 20vw;
  background: darkcyan;
  text-align: center;
}

.card:hover {
  box-shadow: 10px 10px 10px 10px darkcyan;
  opacity: 50%;
}

/* Large Project Card */
.my-cats {
  width: 60vw;
  height: 40vw;
  margin: 10px;
}

.my-cats img {
  width: 60vw;
  height: 40vw;
}

/* Small Project Card */
.small-card {
  width: 30vw;
  height: 20vw;
}

.small-card img {
  width: 30vw;
  height: 20vw;
}

.work h2 {
  position: absolute;
  bottom: 3%;
  left: 3%;
}

.card h3,
.work-titles {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: #0d4141;
  font-size: 20px;
  background-color: #57f3e8;
  padding: 5px;
  width: auto;
}

.work-titles p {
  position: absolute;
  bottom: 5%x;
  left: 2%;
  color: darkcyan;
  font-size: 12px;
  background-color: cyan;
  padding: 5px;
}

/* Left Section Titles Block */
.horizontal-block {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: auto;
}

.h-block-title {
  border-right: 5px solid darkcyan;
  width: 25%;
  text-align: right;
  padding: 20px;
  height: auto;
  font-size: 25px;
  color: var(--h-f-color);
}

/* Contact Block */
.contact-links {
  width: 77%;
  text-align: left;
  padding: 20px;
  height: auto;
  font-size: 20px;
} 
.contact-block ul {
  justify-content: space-between;
  display: flex;
  height: 100%;
  color: #025555;
}
.contact-type {
  display: inline-block;
  text-align: center;
  margin: auto;
}

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  
  .work {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
    justify-content: start;
    padding: 15px;
  }
  .work-examples {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-content: start;
    padding: 0px;
    width: 40vw;
    height: 100%;
  }
  
  .work-titles p {
    display: inline-flex;
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: darkcyan;
    font-size: 12px;
    background-color: cyan;
    padding: 5px;
  }
  .horizontal-block {
      display: flex;
      flex-direction: column wrap;
      width: 30%%;
      height: auto;
  }
  .h-block-title {
    display: inline-flex;
    flex-direction: ;
    border-right: 5px solid darkcyan;
    width: 30vw;
    text-align: right;
    padding: 15px;
    height: auto;
    font-size: 15px;
  }
  .my-cats {
  width: 50vw;
  }
  .small-card {
  width: 50vw;
  }
  .contact-links {
    width: 60vw;
    text-align: left;
    padding: 15px;
    height: auto;
    font-size: 15px;
  } 
  .contact-block ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #025555;
  }

@media screen and (max-width: 560px) {
  
  header h1 {
    display: inline-block;
    float: left;
    color: cyan;
    font-size: 30px;
    position: relative;
    align-items: center;
    bottom: 50%%;
  }
  nav {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    float: right;
    padding-top: 9px;
    font-size: 13px;
  }
  header nav ul li {
    display: inline-flex;
    margin: 5px;
  }
  header nav ul li a {
    color: cyan;
    font-size: 15px;
  }
  .work {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 15px;
    justify-content: start;
    padding: 15px;
  }
  .work-examples {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-content: start;
    padding: 0px;
    width: 40vw;
    height: 100%;
  }
  .card h3,
  .work-titles {
    position: absolute;
    bottom: 10%;
    left: 2%;
    color: darkcyan;
    font-size: 20px;
    background-color: cyan;
    padding: 5px;
    /* width: auto; */
  }
  .work-titles p {
    display: inline-block;
    position: absolute;
    bottom: 5%x;
    left: 2%;
    color: darkcyan;
    font-size: 12px;
    background-color: cyan;
    padding: 5px;
  }
  .horizontal-block {
      display: flex;
      flex-direction: column wrap;
      width: 30%%;
      height: auto;
  }
  .h-block-title {
    display: inline-flex;
    flex-direction: ;
    border-right: 5px solid darkcyan;
    width: 30vw;
    text-align: right;
    padding: 15px;
    height: auto;
    font-size: 15px;
  }
  .my-cats {
  width: 50vw;
  }
  .small-card {
  width: 50vw;
  }
  .contact-links {
    width: 60vw;
    text-align: left;
    padding: 15px;
    height: auto;
    font-size: 15px;
  } 
  .contact-block ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #025555;
  }