:root {
  --background: #bbfafa;
  --h-f-color: #5c63ec;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background)
}

/* Header Styling {#f0e, 36}*/
header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background);
  color: var(--h-f-color)
}

h1 {
  display: flex;
  border: 15px solid var(--h-f-color);
  font-size: 48px;
  background-color: var(--h-f-color);
  color: var(--background);
  width: 50%;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

nav ul li {
  display: inline-flex;
  margin-right: 20px;
  font-size: 25px;
}

a {
  color: var(--h-f-color);
  text-decoration: underline;
}

/* Main Styling {#ffcc99, 25}*/
main {
  display: flex;
  background-color: #bbfafa;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: end;
  margin: 20px;
}

h2 {
  text-align: end;
  justify-content: end;
  font-size: 30px;
  border-right: 6px dotted red;
  padding: 20px;
  width: 35%;
}

p {
  display: flex;
  padding: 20px 20px 20px 100px;
}

/* Footer Styling {#ffff99, 40}*/
footer {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background);
  color: var(--h-f-color)
}

footer div {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

footer h2 {
  text-align: end;
  justify-content: end;
  font-size: 30px;
  border-right: 6px dotted red;
  padding: 20px;
  width: 20%;
}

footer nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
}

footer nav li {
  align-items: center;
}

footer nav ul li a{
  margin-right: 25px;
  justify-content: right;
  font-size: 25px;
  color: var(--h-f-color);
}

/* Hero Styling {#ccff99} */
.hero {
  height: 100px;
  width: 100%;
  background-image: url("../images/hero-background-img.jpg");
  background-size: cover;
  background-position: center;
}

/* Flexbox Styling {#b3ffff, 20} */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: end;
}

.flex-item-left {
  background-color: var(--background);
  padding: 10px;
  font-size: 30px;
  flex: 30%;
}

.flex-item-right {
  background-color: var(--background);
  padding: 10px;
  font-size: 20px;
  flex: 70%;
  text-align: right;
}